.header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #fff;
  padding: 1rem 0;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav {
  display: flex;

  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-right: 1rem;
  color: var(--grayish-violet);
}
